body {
    margin:0;
    padding:0;
    font-family:'Nunito Sans',sans-serif;
}
#colors {
    height:8px;
    background:linear-gradient(
    90deg,
    #b15533 27%,
    #006341 0,
    #006341 39%,
    #3eb1c8 0,
    #3eb1c8 51%,
    #d592aa 0,
    #d592aa 63%,
    #eca154 0,
    #eca154 75%,
    #99d6ea 0);
    width:100%;
}
header {
    height:25vh;
    border-bottom:1px solid #aaa;
}
#flexContainer {
    display:flex;
    justify-content:space-around;
    padding-top:10px;
}
.logo {
    flex-grow:4;
    margin:auto;
}
#logo {
    fill: #006341;
    max-width:35%;
    min-width:20%;
    display:block;
    margin:0 auto;
}
#tagline,#account {
    flex-grow:3;
}
#tagline {
    font-weight:700;
    padding:30px 0 0 100px;
}
#account {
}
header div, header nav {
    flex-grow:1;
}
header nav {
    padding:0 30px 0 0;
}
#account > a  {
    display:inline-block;
    padding:5px 8px 5px 5px;
    color:#000;
    font-size:14px;
}
#fixIcon {position:relative;right:15px;}
#searchBar {
    width:40%;
    display:block;
    margin:20px auto;
    border-radius:30px;
    border:1px solid #aaa;
    padding:13px;
    font-family:"Nunito Sans";
    color: #aaa;
    font-size:13pt;
}
#categories {
    margin:0 auto 0;
    padding-top:10px;
    text-align:center;
}
#categories > a {
    display:inline-block;
    font-weight:700;
    text-decoration:none;
    color:#000;
    padding:0 25px;

}
.wrapper {
    display: grid;
    background:#fbf7f4;
    grid-template-rows:1fr;
    grid-column-gap:0px;
    grid-row-gap:0px;
    grid-template-columns:1fr 8fr 8fr 1fr;
    align-items:center
}
.sideWhite {
    background:#fff !important;
    height:100%;
}
.main {
    text-align:center;
}
h1 {
    font-family:Merriweather, Georgia, serif;
    font-size:18pt;
}
h4 {
    font-weight:500;
}
.button {
    display:inline-block;
    background:#fff;
    border:3px solid #000;
    text-transform:uppercase;
    text-decoration:none;
    padding:10px;
    color:#000;
    transition:border-color 0.15s,background 0.15s;
}
.button:hover {
    border-color:#3eb1c8;
    background:#3eb1c8;
}
.hiddenMenu {
    display:none;
    position:absolute;
    height:505px;
    width:1000px;
    top:0;
    left:0;
    background:#fff;
    border:1px solid #aaa;
    box-sizing:border-box;

    text-align:left !important;
}
.hiddenMenu * {pointer-events:none;}
#giftsMenu {

}
.hiddenMenu ul {
    list-style-type:none;
    padding:0;
    display:inline-block;
    padding:15px;
    box-sizing:border-box;
    width:17%;
    margin:0;
    vertical-align:top;
}
.hiddenMenu a {
    display:block;
    text-decoration:none;
    color:#000;
    padding:6px;
    font-size:11pt;
}
.hiddenMenu .mainLink {
    font-weight:700;
    padding:8px !important;
}
.bb {border-bottom:1px solid #e6e6e6;}
.menuExtra {
    width:43%;
    box-sizing:border-box;
    display:inline-block;
    text-align:center;
    border-bottom:1px solid #e6e6e6;
}
.menuExtra h5 {
    font-weight:700;
    border-bottom:1px solid #e6e6e6;
    padding:0 5px 5px 5px;
    margin:10px 0;
}
.menuExtra a {
    font-weight:700;
}
.caps {
    margin:2px 0;
    text-transform: uppercase;
}